<div id="videos-container" class="contents-container">
    <h2>Edit video</h2>
    <form class="input-form" action="/videos/{{video._id}}/updates" method="post" >
      <label for="url-input" class="form-label">URL</label>
      <input
        value="{{video.url}}"
        id="url-input"
        name="url"
        type="text"
        placeholder="Write a video URL"
       />
      {{#with video.errors.url as |error|}}
          <div class="error">
            {{error.message}}
          </div>
      {{/with}}
      <label for="title-input" class="form-label">Title</label>
      <input 
          value="{{video.title}}"
          id="title-input"
          name="title"
          type="text"
          maxlength="50"
          placeholder="Write a title"
      >
      {{#with video.errors.title as |error|}}
          <div class="error">
            {{error.message}}
          </div>
      {{/with}}
      <label for="description-input" class="form-label">Description</label>
      <textarea 
        id="description-input"
        name="description"
        placeholder="Write a description"
      >{{video.description}}</textarea>
      {{#with video.errors.description as |error|}}
          <div class="error">
            {{error.message}}
          </div>
      {{/with}}
      
      <input 
        value="Save changes" 
        id="submit-button" 
        class="input-button" 
        type="submit" 
      />
    </form> 
</div>

